<section class="education">
    <div class="edu-img">
      <img src='images/uw-logo-flush-web.png' />
    </div>

    <div class="university">University of Wisconsin–Madison</div>
    <div class="degree">
        <div class="title"><i class="fa-solid fa-graduation-cap"></i> Ph.D., Electrical and Computer Engineering</div>
        <div class="date">Expected May 2024</div>
        <div class="desc">Thesis: Self-Sensing Control of Bearingless Motors</div>
    </div>

    <div class="degree">
        <div class="title"><i class="fa-solid fa-graduation-cap"></i> M.S., Electrical and Computer Engineering</div>
        <div class="date">December 2021</div>
        <div class="desc">Thesis: Open-Source Hardware and Software for Advanced Motor Drives</div>
    </div>

    <div class="degree">
        <div class="title"><i class="fa-solid fa-graduation-cap"></i> B.S., Computer Science</div>
        <div class="date">May 2019</div>
        <div class="desc">Graduated with Distinction, Varsity Men's Rowing letterman</div>
    </div>
</section>