<div class="expand">
    <div class="expand-label" style="cursor: pointer;" onclick="
        var hIcon = this.children[0].children[0];
        var hContent = this.nextElementSibling;

        if (hContent.style.display === 'none') {
            hContent.style.display = 'block';
            hIcon.classList.add('fa-chevron-down');
            hIcon.classList.remove('fa-chevron-right');
        } else {
            hContent.style.display = 'none';
            hIcon.classList.remove('fa-chevron-down');
            hIcon.classList.add('fa-chevron-right');
        }
        ">
        {{ if eq (.Get "tag") "h1" }}<h1><i {{ if eq (.Get "expanded") "false" }}class="fas fa-chevron-right"{{else}}class="fas fa-chevron-down"{{end}} style="padding-right:0.5em;"></i>{{ .Get "text" }}</h1>{{ end }}
        {{ if eq (.Get "tag") "h2" }}<h2><i {{ if eq (.Get "expanded") "false" }}class="fas fa-chevron-right"{{else}}class="fas fa-chevron-down"{{end}} style="padding-right:0.5em;"></i>{{ .Get "text" }}</h2>{{ end }}
        {{ if eq (.Get "tag") "h3" }}<h3><i {{ if eq (.Get "expanded") "false" }}class="fas fa-chevron-right"{{else}}class="fas fa-chevron-down"{{end}} style="padding-right:0.5em;"></i>{{ .Get "text" }}</h3>{{ end }}
        {{ if eq (.Get "tag") "h4" }}<h4><i {{ if eq (.Get "expanded") "false" }}class="fas fa-chevron-right"{{else}}class="fas fa-chevron-down"{{end}} style="padding-right:0.5em;"></i>{{ .Get "text" }}</h4>{{ end }}
        {{ if eq (.Get "tag") "h5" }}<h5><i {{ if eq (.Get "expanded") "false" }}class="fas fa-chevron-right"{{else}}class="fas fa-chevron-down"{{end}} style="padding-right:0.5em;"></i>{{ .Get "text" }}</h5>{{ end }}
        {{ if eq (.Get "tag") "h6" }}<h6><i {{ if eq (.Get "expanded") "false" }}class="fas fa-chevron-right"{{else}}class="fas fa-chevron-down"{{end}} style="padding-right:0.5em;"></i>{{ .Get "text" }}</h6>{{ end }}
    </div>

    {{ if eq (.Get "expanded") "false" }}
    <div class="expand-content" style="display: none;">
    {{else}}
    <div class="expand-content" style="display: block;">
    {{end}}
            {{.Inner | safeHTML}}
    </div>
</div>




